<% if Current.user %>
	Logged in as: <%= Current.user.email %><br>
	<%= link_to 'Edit Password', edit_password_path(Current.user.id) %>
	<%= button_to 'Logout', session_path(Current.user.id), method: :delete,
		form: {
		data: {
		turbo_confirm: "Are you sure?"}
	}%>
	<li>
		<%= link_to 'Articles', Current.user %>
	</li>
<% else %>
	<%= link_to 'Sign Up', new_user_path %><br>
	or<br>
	<%= link_to 'Sign in', new_session_path %>
<% end %>
